h1{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    text-align: center;
    
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 40px;
    text-align: center;

}


textarea{
    text-align: center;
    display: center;
    position: relative;
    left: 44%;
}

button{

    position: relative;
    left: 44.5%;
}


@media only screen and (max-width: 720px) {
    textarea,button{
        margin-left: -10%;

    }
  }